mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
pymdown-extensions
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
